$link-text-color: #2196f3;
$main-text-color: #757575;
$title-text-color: #212121;
$background-color-header: #ececec;
$white-color: #ffffff;
$hero-footer-background-color: #2f303a;
$button-color: #f5f4fa;
$main-text-family: roboto, sans-serif;
$main-text-weight: 400;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);